/*
    Task
*/
.task__wrap {
    padding: 10px 15px;
    margin-bottom: 5px;
    margin-right: 5px;
    position: relative;

    border: 1px solid #bdc3c7;
    border-radius: 5px;

    display: flex;
    align-items: center;
}

.task__wrap:last-child {
    margin-bottom: 0;
}


/* Status */
.task__status {
    height: 15px;
    width: 15px;
    margin-left: 5px;
    margin-right: 5px;

    border-radius: 5px;
    border: 2px solid #bdc3c7;

    transition: all 0.3s ease;
    box-shadow:  0 0 10px #bdc3c746;
    background-color: transparent;
}

.task__status.status__done {
    border: 2px solid #27ae60;
    box-shadow:  0 0 10px #27ae5f63;
}

/* Content */
.task {
    padding: 6px 16px;
    cursor: pointer;
}

/* Actions */
.actions {
    position: absolute;
    min-width: 30%;
    height: 100%;
    z-index: 1;
    right: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.del__task {
    display: none;
    margin-right: 5px;
}

.done__task {
    display: none;
    margin-right: 10px;
}

.actions:hover .done__task {
    display: block;
}

.actions:hover .del__task {
    display: block;
}



/* 
    Task List
 */
.tasks__container {
    border-radius: 5px;
    margin-top: 10px;
}

.header__tasks {
    display: flex;
    align-items: center;
}

.loading {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #e74c3c;
    border-radius: 50%;
    margin: auto 10px;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin-left: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.body__tasks {
    margin-top: 5px;
    padding: 5px 0px;
    max-height: 60vh;
    overflow-y: scroll;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    padding-left: 5px;
}

.body__tasks::-webkit-scrollbar {
    width: 5px;
}

.body__tasks::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

.body__tasks::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.input__task {
    margin-left: 10px;
}
