/*
    Task
*/
.task__wrap {
    padding: 10px 15px;
    margin-bottom: 5px;
    margin-right: 5px;
    position: relative;

    border: 1px solid #bdc3c7;
    border-radius: 5px;

    display: flex;
    align-items: center;
}

.task__wrap:last-child {
    margin-bottom: 0;
}



/* Status */
.task__status {
    height: 15px;
    width: 15px;
    margin-left: 5px;
    margin-right: 5px;

    border-radius: 5px;
    border: 2px solid #bdc3c7;

    transition: all 0.3s ease;
    box-shadow: 0 0 10px #bdc3c746;
    background-color: transparent;
}

.task__status.status__done {
    border: 2px solid #27ae60;
    box-shadow: 0 0 10px #27ae5f63;
}



/* Content */
.task {
    padding: 6px 16px;
    cursor: pointer;
}

.task.status__done {
    text-decoration: line-through;
    color: #bdc3c7;
}



/* Actions */
.actions {
    position: absolute;
    min-width: 30%;
    height: 100%;
    z-index: 1;
    right: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.del__task {
    display: none;
    margin-right: 5px;
}

.done__task {
    display: none;
    margin-right: 10px;
}

.task__wrap:hover .done__task {
    display: block;
}

.task__wrap:hover .del__task {
    display: block;
}



/*
    Task List
 */
.tasks__container {
    border-radius: 5px;
    margin-top: 10px;

    display: block;
}

.header__tasks {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-bottom: 15px;
}

.add__task {
    padding-left: 20px;
    padding-right: 20px;
    min-width: 200px;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.body__tasks {
    margin-top: 5px;
    max-height: 60vh;
    overflow-y: scroll;
    border-radius: 5px;
}

.body__tasks::-webkit-scrollbar {
    width: 5px;
}

.body__tasks::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

.body__tasks::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.input__task {
    margin-left: 10px;
}



/*
 Task Modal Create

 */

.task-create-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background: red;
    z-index: 99;
}

svg {
    height: 30px;
    width: 30px;
    min-width: 30px;
    min-height: 30px;
}

svg.done {
    color: #2ecc71;
}

svg.un-done {
    color: #bdc3c7;
}

.modal-overlay {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(2px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-wrapper {
    width: 50vw;
    background: white;

    border: 2px solid salmon;
    border-radius: 15px;
}

.modal-wrapper:focus {
    outline: none;
}

.modal {
    height: 100%;
    width: 100%;

    padding: 5px 10px;
}

.modal-header {
    width: 100%;
    display: relative;
}

.modal-title {
    float: left;
}

.modal-close-button {
    float: right;
}


/* Task Create - Modal */
.task-create__container {
    display: block;
    padding-bottom: 10px;
}

textarea.task-update__text {
    width: 100%;
}
