@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

html,
body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  overflow-x: hidden;
  overflow-y: overlay;
}

html * {
  box-sizing: border-box;
}


body * {
  font-size: 16px;
  font-family: 'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.main__container {
  width: 75%;
  height: 100%;
  display: block;
  margin: 10px auto;
  padding: 16px;
  text-align: justify;
  border: 1px solid #16a085;
  border-radius: 10px;
}