/* Variales */
:root {
    --primary: #3498db;
    --success: #2ecc71;
    --error: #e74c3c;
}

.btn {
    padding: 6px 16px;
    border-radius: 5px;
    font-weight: 600;
    background-color: white;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

.btn:focus {
    outline: none;
}

/* Primary */
.btn-primary {
    border: 1px solid var(--primary);
    color: var(--primary);
}

.btn-primary:hover {
    color: white;
    background-color: var(--primary);
}

/* Success */
.btn-success {
    border: 1px solid var(--success);
    color: var(--success);
}

.btn-success:hover {
    color: white;
    background-color: var(--success); 
}

/* Error */
.btn-error {
    border: 1px solid var(--error);
    color: var(--error);
}
.btn-error:hover {
    color: white;
    background-color: var(--error); 
}